.button_green {
    -webkit-box-shadow: inset 0 1px 0 0 #d9fbbe;
    box-shadow: inset 0 1px 0 0 #d9fbbe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(top, center), color-stop(5%, #a5cc52), to(#d9fbbe));
    background: linear-gradient(center top, #a5cc52 5%, #d9fbbe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9fbbe', endColorstr='#b8e356');
    background-color: #d9fbbe;
    border-radius: 2px;
    text-indent: 0;
    border: 1px solid #83c41a;
    display: inline-block;
    color: inherit;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    height: 20px;
    line-height: 20px;
    width: auto;
    min-width: 10px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #d9fbbe;
    margin: 2px 0;
    padding: 0 4px;
}

.button_green:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(top, center), color-stop(5%, #b8e356), to(#a5cc52));
    background: linear-gradient(center top, #b8e356 5%, #a5cc52 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
    background-color: #86ae47;
}

.button_green:active {
    position: relative;
    top: 1px;
}

.button_grey {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(top, center), color-stop(5%, #ededed), to(#dfdfdf));
    background: linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    border-radius: 2px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: inherit;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    height: 20px;
    line-height: 20px;
    width: auto;
    min-width: 10px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #ffffff;
    margin: 2px 0;
    padding: 0 4px;
}

.button_grey:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(top, center), color-stop(5%, #dfdfdf), to(#ededed));
    background: linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}

.button_grey:active {
    position: relative;
    top: 1px;
}
